<h1>Profile Page</h1>
<div>
  <%= link_to "Add Educations", new_user_profile_education_path(@profile.user, @profile)%>
</div>

<div>
  <%= link_to "Add Experiences", new_user_profile_experience_path(@profile.user, @profile) %>
</div>

<div>
  <%= link_to "Add Projects", new_user_profile_project_path(@profile.user, @profile) %>
</div>

<div>
  <%= link_to "Add Skills", new_user_profile_skill_path(@profile.user, @profile) %>
</div>

<div id="prorfile-picture">
  <%= image_tag @profile.user.image.url(:medium) %>
  <%#= image_tag @question.image.url(:medium) %>
</div>

<div>
  <%= @profile.user.full_name %>
</div>

<div>
  <%= link_to fa_icon("linkedin") %>
  <%= link_to fa_icon("twitter") %>
  <%= link_to fa_icon("github") %>
  <%= link_to fa_icon("download"), @profile.resume.url %>
</div>

<div>
  <label>Skills</label>
  <% @profile.skills.each do |skill| %>
    <div>
      <%= skill.name %>
      <%= skill.rating %>
    </div>
    <hr>
  <% end %>
</div>
<div>
  <label>Educations</label>
  <% @profile.educations.each do |education| %>
    <div>
      <%= education.school %><br>
      <%= education.description %>
      <hr>
    </div>
  <% end %>
</div>

<div>
  <label>Experiences</label>
  <% @profile.experiences.each do |experience|  %>
  <div>
      <%= experience.company %>
      <%= experience.title %>
      <%= experience.description %>
      <hr>
  </div>
  <% end %>
</div>

<div>
  <label>Projects</label>
  <% @profile.projects.each do |project| %>
    <div>
      <%= project.link %>
      <%= project.github %>
      <hr>
    </div>
  <% end %>
</div>

<%= button_to "Contact", :class => "contact-btn" %>
