<h1 style="display: inline-block"><%= @profile.user.full_name %></h1>

<div id="description-form">
  <%= @profile.description %>
</div>

<div style="display: inline-block; margin-left: 10px; bottom: 20px;">
  <%= link_to fa_icon("linkedin"), "#{@profile.linkedin}" %>
  <%= link_to fa_icon("twitter"), "#{@profile.twitter}" %>
  <%= link_to fa_icon("github"), "#{@profile.github}" %>
  <%= link_to fa_icon("download"), @profile.resume.url %>
</div>

<div id="profile-picture">
  <% if @profile.user.image.file.nil? %>
    <%= image_tag("default_profile_picture.png") %>
  <% else %>
    <%= image_tag(@profile.user.image.url(:medium)) %>
  <% end %>
</div>

<%= link_to "Contact", new_contact_form_path(id: @profile.user.id), class: "btn btn-primary" %>

<div>
  <% if can? :manage, @profile.user %>
    <% if @profile.user.activated? %>
      <%= link_to "Deactivate", user_activation_path(@profile.user, @profile), method: :patch %>
    <% else %>
      <%= link_to "Activate", user_activation_path(@profile.user, @profile), method: :patch %>
    <% end %>
  <% end %>
</div>

<ul class="nav nav-tabs">
  <li class=""><a href="#skills" data-toggle="tab" aria-expanded="false"><h4>Skills</h4></a></li>
  <li class=""><a href="#projects" data-toggle="tab" aria-expanded="false"><h4>Projects</h4></a></li>
  <li class=""><a href="#education" data-toggle="tab" aria-expanded="false"><h4>Education</h4></a></li>
  <li class=""><a href="#experiences" data-toggle="tab" aria-expanded="false"><h4>Experiences</h4></a></li>
</ul>

<div id="myTabContent" class="tab-content">

  <div class="tab-pane fade" id="skills">
    <div>
      <% if can? :manage, @profile %>
        <%= link_to "Add Skills", new_user_profile_skill_path(@profile.user, @profile), remote: :true %>
      <% end %>
      <div id="skill-form"></div>
    </div>
    <div id="list">
      <%= render "skills/list", {skills: @profile.skills, profile: @profile}%>
    </div>
  </div>

  <div class="tab-pane fade" id="projects">
    <div>
      <% if can? :manage, @profile %>
        <%= link_to "Add Projects", new_user_profile_project_path(@profile.user, @profile), remote: :true%>
      <% end %>
      <div id="project-form"></div>
    </div>
    <div id="list">
      <%= render "projects/list", {skills: @profile.skills, profile: @profile}%>
    </div>

  <div class="tab-pane fade" id="education">
    <div>
      <% if can? :manage, @profile %>
        <%= link_to "Add Educations", new_user_profile_education_path(@profile.user, @profile), remote: :true%>
      <% end %>
      <div id="education-form"></div>
    </div>
    <div id="list">
      <%= render "educations/list", {skills: @profile.skills, profile: @profile}%>
    </div>
  </div>

  <div class="tab-pane fade" id="experiences">
    <div>
      <% if can? :manage, @profile %>
        <%= link_to "Add Experiences", new_user_profile_experience_path(@profile.user, @profile), remote: :true%>
      <% end %>
      <div id="experience-form"></div>
    </div>
    <div id="list">
      <%= render "experiences/list", {skills: @profile.skills, profile: @profile}%>
    </div>
  </div>

</div>
