<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content login-1">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sign In</h4>
      </div>
      <div class="modal-body">
        <%= form_tag sessions_path do %>
          <div>
            <%= label_tag :email %><br>
            <%= email_field_tag :email %>
          </div><br>
          <div>
            <%= label_tag :password %><br>
            <%= password_field_tag :password %>
          </div><br>
          <div>
            <%= link_to "Forgot Password?", new_password_reset_path %>
          </div>
          <%= submit_tag "Sign In" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
