<h3>Advanced Search</h3>
<%= form_tag("/search/advanced", method: "post", enforce_utf8: false) do %>
<div class = 'well bs-component'>
  <form class="form-horizontal">
      <div class="form-group">
        <%= label_tag(:name, "Student Name:", class: "control-label") %>
        <div class="col-lg-10">
          <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter the student's name here..." %>
        </div>
      </div>
        <div class="form-group">
          <%= label_tag(:skills, "Skills:", class: "control-label") %>
        <div class="col-lg-10">
          <%= text_field_tag :skills, nil, class: "form-control", placeholder: 'Enter desired skills here (Separate skills with comma, no space)...' %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag(:skills, "Education:", class: "control-label") %>
        <div class="col-lg-10">
          <%= text_field_tag :school, nil, class: "form-control", placeholder: 'Enter place of education here...' %>
        </div>
      </div>
      <div class="col-lg-10 col-lg-offset-2">
        <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
      </div>
  </form>
</div>
<% end %>
