<div class = 'well bs-component'>
  <legend>Edit Account Info</legend>
  <%= simple_form_for @user do |f|%>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.input :for_hire %>
      <%= f.input :profile_picture %>
    <%= f.button :submit %>
  <% end %>
</div>
