<h1><%= @header %></h1>

<% @users.each do |user| %>
  <div>
    <% if user.image.file.nil? %>
      <%= image_tag("default_profile_picture.png") %>
    <% else %>
      <%= image_tag(user.image.url(:medium)) %>
    <% end %>
  </div>
  <div>
    <%= user.full_name %>
  </div>

    <%= link_to "View Profile", user_profile_path(user, user.profile) %>

  <div>
    <% if can? :manage, @user %>
      <% if user.activated? %>
        <%= link_to "Deactivate", user_activation_path(user), method: :patch %>
      <% else %>
        <%= link_to "Activate", user_activation_path(user), method: :patch %>
      <% end %>
    <% end %>
  </div>

  <hr>
<% end %>

<%= paginate @users %>
