<h1><%= @header %></h1>

<% @users.each do |user| %>
  <div>
    <% if user.image.file.nil? %>
      <%= image_tag("default_profile_picture.png") %>
    <% else %>
      <%= image_tag(user.image.url(:medium)) %>
    <% end %>
  </div>
  <div>
    <%= user.full_name %>
  </div>

    <%= link_to "View Profile", user_profile_path(user, user.profile) %>

  <div id=<%= dom_id(user) %>>
    <% if can? :manage, @user %>
      <%= render "activations/form", {user: user} %>
    <% end %>
  </div>

  <hr>
<% end %>

<%= paginate @users %>
