<h1>New user</h1>
<%= form_for @user do |f|%>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.label :for_hire %>
    <%= f.check_box :for_hire %>
  </div>
  <div>
    <%= f.label :profile_picture %>
    <%= f.text_field :profile_picture %>
  </div>
  <%= f.submit "Sign Up" %>
<% end %>
