<div>
  <% profile.projects.each do |project| %>
    <div>
      <h4><%= project.title %></h4>
      <h5 style="color: grey"><%= project.github %> | <%= project.link %></h5>
      <%= project.description %>
      <% if can? :manage, profile %>
      <%= link_to "Edit", edit_user_profile_project_path(profile.user, profile, project), remote: :true %>
      <%= link_to "Delete", user_profile_project_path(profile.user, profile, project), method: :delete, data:  {confirm: "Are you sure?" } %>
      <div id="project-edit-form"></div>
      <% end %>
      <hr>
      </div>
  <% end %>
</div>
