<div>
  <label>Experiences</label>
  <% profile.experiences.each do |experience|  %>
  <div>
      <%= experience.company %>
      <%= experience.title %>
      <%= experience.description %>
      <%= experience.start %>
      <%= experience.end %>
      <% if can? :manage, profile %>
      <%= link_to "Edit", edit_user_profile_experience_path(profile.user, profile, experience), remote: :true %>
      <div id="experience-edit-form"></div>
      <%= link_to "Delete", user_profile_experience_path(profile.user, profile, experience), method: :delete, data:  {confirm: "Are you sure?" } %>
      <% end %>
      <hr>
  </div>
  <% end %>
</div>
