<div class = 'well bs-component'>
<legend>Contact <%= @user.full_name %></legend>

<%= simple_form_for contact_forms_path(email: @user.email) do |f|%>
  <%= f.input :from, :required => true %>
  <%= f.input :message, :required => true %>
  <%= submit_tag :submit, class: "btn-primary" %>
<% end %>
</div>
