<h1>Contact <%= @user.full_name %></h1>

<<<<<<< HEAD
<%=  form_tag contact_forms_path(id: @user.id) do  %>
  <%= text_field_tag :from, nil, :required => true %>
  <%= text_area_tag :message, nil, :required => true  %>
=======
<%= form_tag contact_forms_path(email: @user.email) do %>
  <%= text_field_tag :from, nil, :required => true %>
  <%= text_area_tag :message, nil, :required => true %>
>>>>>>> adb0194fbd39392a78f28d39681b02280f995436
  <%= submit_tag :submit, class: "btn-primary" %>
<% end %>
