<h1>Edit Education</h1>

<h4><%= @education.errors.full_messages.join(". ")  %></h4>

<%= simple_form_for [@user, @profile, @education] do |f| %>
  <%= f.input :school %>
  <%= f.input :major %>
  <%= f.input :description %>
  <%= f.input :start %>
  <%= f.input :end %>
  <%= f.button :submit, class: "btn-primary" %>
<% end %>
