<!DOCTYPE html>
<html>
<head>
  <title>CodecodeForHire</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/navbar" %>
  <% if flash[:notice] %>
    <div class="flash-notice"><%= flash[:notice] %></div>
  <% elsif flash[:alert] %>
    <div class="flash-alert"><%= flash[:alert] %></div>
  <% end %>
  <%= yield %>
</body>
</html>
